.nav-wrapper
{
    background-image: url("/static/images/header-logo.svg");
    background-size: 173px 42px;
    background-repeat: no-repeat;
    background-position: right;
}

.no-margin {
    margin: 0;
}

label input[type=file] {
    position: fixed;
    top: -1000px;
}

.jet-logo {
	width: 106px;
	height: 37px;
	position: relative;
	left: 50%;
}
