.user-nav
{
    background-image: url("/static/images/logo_selfiedump_header.png");
    background-repeat: no-repeat;
    background-position: right;
}

.no-margin {
    margin: 0;
}

label input[type=file] {
    position: fixed;
    top: -1000px;
}
